# Archivos generados por la compilación
**/bin/
**/obj/

# Caché de Visual Studio
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Artefactos de compilación
*.dll
*.exe
*.pdb
*.vsidx
*.v2
*.cache